#top{
  position: relative;
  width: 100%;
  margin-left: 20px;
  border-bottom: 1px solid #a8a8a8;
}
#main {
  width: 100%;
  position: relative;
  margin-left: 20px;
}
#profiles{
  width: 100%;
  margin-bottom: 20px;
  margin-left: 20px;
  position: static;
  border-bottom: 1px solid #a8a8a8;
}
a {
  color:  black;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 60px;
}
.text {
  color:  black;
  font-size: 60px;
  position: relative;
  padding-bottom: 20px;
}
.text1 {
  color:  black;
  font-size: 60px;
  padding-bottom: 20px;
  float: right;
  margin-right: 20px;
}
#search-bar {
  width: 300px;
  height: 20px;
  margin-right: 100px;
  margin-left: 100px;
  border-radius: 25px;
  border: 1px solid black;
  display: inline-block;
}
#bottom {
  background: #f2f2f2;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  border-top: 1px solid #e4e4e4;
}
.circle {
  width: 50px;
  height: 50px;
  border: 1px solid blue;
  border-radius: 50%;
  display: inline-block;
  margin-right: 100px;
}
.rectangle{
  width: 60px;
  height: 20px;
  background: black;
  display: inline-block;
}
.project{
  width: 310px;
  height: 250px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: dimgray;
  display: inline-block;
}