
h1 {
    font-family: Futura, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 200px;
    color: ghostwhite;
    position: sticky;
}

body {
    background-color: black
}

p {
    font-family: Futura, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 36px;
    color: ghostwhite;
    padding: 20px;
    text-align: center;
} 

.text {
    font-family: Futura, Helvetica, sans-serif;
    color: ghostwhite;
    margin-top: 100px;
    text-align: center;
    line-height: 2;
} 

.container {
    width: 600px;
    height: 600px;
    border: 6px solid red;
    border-radius: 50%;
    display:inline-block;
    margin-right: 200px;
} 

#hor {
    display: inline-block;
    width: 500%;
}

container {
    font-family: Futura, Helvetica, sans-serif;
    color: ghostwhite;
    width: 600px;
    height: 600px;
    border: 6px solid red;
    border-radius: 50%;
    display:inline-block;
    margin-right: 200px;
    text-align: center;
    line-height: 2;
} 

.hi:hover { 
    transform: scale(2.2); 
    transition: all .5s ease-in-out;
    color: goldenrod;
}