
div.a {
    transform: rotate(20deg);
}

div.b { 
    display:inline-block
}

.div1 {
    padding: 10px;
    border: 3px solid blue;
    float: left;
} 

.div2 {
        padding: 10px;
        border: 3px solid red;
        clear: left;
}

p.uppercase {
    text-transform: uppercase;
  }