padding 
margin

div.a {
    transform: rotate(20deg);
}

div.b { 
    display:inline-block
}

.div1 {
    padding: 10px;
<<<<<<< HEAD
    border: 6px solid blue;
=======
    border: 3px solid blue;
>>>>>>> bd428c260bf180da2a16792135336badcb8ca305
    float: left;
} 

.div2 {
        padding: 10px;
        border: 3px solid red;
        clear: left;
}

<<<<<<< HEAD
.div3 {
    padding: 20px;
    border: 6px solid blue;
    float: right;
    width: auto;
} 

=======
>>>>>>> bd428c260bf180da2a16792135336badcb8ca305
p.uppercase {
    text-transform: uppercase;
  }
