
#leftbox {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
    float:left; 
    background:darkolivegreen;
    width:25%;
    height:1000px;
}
#middlebox{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
    float:left; 
    background:seashell;
    width:50%;
    height:1000px;
}
#rightbox{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
    float:right;
    background:darkolivegreen;
    width:25%;
    height:1000px;
}
h1{
    background-color: darkolivegreen;
    color: slategrey;
    text-align:center;
    font-size: 60px;
    font-family: Futura, Verdana, sans-serif;
    font-weight: bolder;
    margin: 0%;
}

p.text{
    color:tomato;
    font-family: Montserrat, Helvetica, sans-serif;
    margin: 20px;
    line-height: 1.6;
    text-align: center;
}

.marq{
    height:1000px;
    text-align:center;
}