
h1 {
    color: navy;
    text-align: right;
}

body {
    background-color:silver;
}

p {
    text-align: left;
    font-family: Futura, Helvetica, sans-serif;
    color: maroon;
    font-size: 72px;
}

p.a {
    text-align: right;
    font-family: Futura, Helvetica, sans-serif;
    color: maroon;
    font-size: 72px;
}

.hi:hover { 
    transform: scale(2.2); 
    transition: all .2s ease-in-out;
    color: navy;
    font-size: 100px;
    font-weight: bolder;
}

div.a {
    color: silver;
    font-family: Futura, Helvetica, sans-serif;
    background-color: maroon;
    padding: 10px;
    text-align: center;
    transform: rotate(45deg);
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }