padding 
margin

<<<<<<< HEAD
body {
width: 500vw;    
}
.diva {
    transform: rotate(90deg);
}

.divb { 
    display:inline-block
}

.divc { 
    transform: rotate(180);
}

.div1 {
    padding: 30px;
    margin-right: 300px;
    border: 3px solid red;
    display: inline-block;
=======
div.a {
    transform: rotate(20deg);
}

div.b { 
    display:inline-block
}

.div1 {
    padding: 10px;
    border: 3px solid blue;
    float: left;
>>>>>>> bd428c260bf180da2a16792135336badcb8ca305
} 

.div2 {
        padding: 10px;
        border: 3px solid red;
        clear: left;
}

p.uppercase {
    text-transform: uppercase;
  }
<<<<<<< HEAD

  .hor{ width: 500vw;}
=======
>>>>>>> bd428c260bf180da2a16792135336badcb8ca305
